<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/index.css}">
    <meta charset="UTF-8">
    <title>PizzaParadise</title>
</head>
<body>

<h1>Pizza Paradise</h1>
<div className="menu">
    <p>Velkommen til vores pizza butik.</p> <br>

    <p th:if="${user == null or !user.currentLogin}">
        <a href="/login">Gå til Login</a>
    </p> <br>

    <p th:if="${user == null or !user.currentLogin}">
        <a href="/createUser">Gå til Opret</a>
    </p> <br>

    <p th:if="${user != null and user.currentLogin}">
        <a href="/profile">Gå til Min Profil</a>
    </p> <br>

    <p><a href="/pizza-list">Vis alle Pizzaer vi tilbyder</a></p>
</div>

</body>
</html>
