
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle Pizzaer</title>
</head>
<body>

<h1>Alle pizzaer</h1>

<table border="1" cellpadding="10">
    <tr>
        <th>Billede</th>
        <th>Navn</th>
        <th>Bund</th>
        <th>Sauce</th>
        <th>Topping</th>
        <th>Pris</th>
    </tr>

    <tr th:each="p : ${pizzas}">
        <td>
            <img th:src="@{'/' + ${p.img}}" width="120name}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.base}"></td>
        <td th:text="${p.sauce}"></td>
        <td th:text="${p.topping}"></td>
        <td th:text="${p.price}"></td>
    </tr>
</table>

</body>
</html>
